<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <title>商家完善资料</title>
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--导入 js 框架 angularjs -->
    <script src="/plugins/angularjs/angular.min.js"></script>
    <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--基础模块先导入-->
    <script src="/js/base.js"></script>
    <!--基础服务层 为下面的分层提供服务支持 先导入-->
    <script src="/js/service/baseService.js"></script>
    <!--分页插件参数和判断复选框的基础控制层 为 brandController 提供服务支持 先导入-->
    <script src="/js/controller/baseController.js"></script>
    <!--处理品牌管理页面的控制器 用于实现页面的数据访问功能-->
    <script src="/js/controller/passwordController.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini"
      ng-app="pinyougou"
      ng-controller="passwordController">

<!-- 正文区域 -->
<section class="content">

    <div class="box-body">

        <!--tab页-->
        <div class="nav-tabs-custom">

            <!--tab头-->
            <ul class="nav nav-tabs">

                <li class="active">
                    <a href="#home" data-toggle="tab">修改密码</a>
                </li>
            </ul>
            <!--tab头/-->

            <!--tab内容-->
            <div class="tab-content">

                <!--表单内容-->
                <div class="tab-pane active" id="home">
                    <div class="row data-type">

                        <div class="col-md-2 title">原密码</div>
                        <div class="col-md-10 data">
                            <input ng-model="password.old"
                                    type="password" class="form-control" placeholder="原密码" value="">
                        </div>

                        <div class="col-md-2 title">新密码</div>
                        <div class="col-md-10 data">
                            <input ng-model="password.new01"
                                   type="password" class="form-control" placeholder="新密码" value="">
                        </div>

                        <div class="col-md-2 title">确认新密码</div>
                        <div class="col-md-10 data">
                            <input ng-model="password.new02"
                                    type="password" class="form-control" placeholder="确认新密码" value="">
                        </div>
                    </div>
                </div>
                {{password}}
            </div>
            <!--tab内容/-->
            <!--表单内容/-->

        </div>

    </div>
    <div class="btn-toolbar list-toolbar">
        <button class="btn btn-primary" ng-click="saveOrUpdate()"><i class="fa fa-save"></i>保存</button>
        <a data-toggle="modal" class="btn btn-danger"ng-click="reset()">重置</a>
    </div>

</section>
<!-- 正文区域 /-->
</body>
</html>